<div class="giveform">
    <div class="container">

        <h2>Reducing waste, Australia wide.</h2>
        <p class="small-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, perspiciatis amet. Similique atque praesentium quod. Nulla dolorum itaque, sint in, quaerat culpa repudiandae, ad cupiditate blanditiis fugit reiciendis placeat! Fugiat.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nemo autem porro itaque dolorem ipsam iure quas, molestias debitis. Nemo nobis ipsa exercitationem molestiae iste, obcaecati dolore est excepturi placeat! Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Aliquid perspiciatis reiciendis rerum quidem ut recusandae ratione, repellat natus consequatur provident unde excepturi soluta dolor aliquam vitae laudantium ea mollitia itaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Saepe facilis, atque tenetur impedit architecto molestias? Aliquid fugit soluta, similique modi cupiditate corporis possimus dolore earum illum expedita accusantium fugiat dolorem!</p>
      
     

        <img class="listing-img" src="https://reviewed-com-res.cloudinary.com/image/fetch/s--_zGbKbHb--/b_white,c_fill,cs_srgb,f_auto,fl_progressive.strip_profile,g_center,q_auto,w_747/https://reviewed-production.s3.amazonaws.com/1532623826000/GettyImages-843249732.jpg.crdownload.jpg">


    </div>
</div>