<%# preview individual listing %>

<div class="giveform">
<div class="subheading">
<h2><b>Preview</b></h2>
</div>
  <div class="container">

  
    <p>Title</p>
    <%# <p class="small-p"><%= listings.title %></p> %>
    <p>Category</p>
    <%# <p class="small-p"><%= listings.category %></p> %>
    <p>Description</p>
    <%# <p class="small-p"><%= listings.description %></p> %>

<img class="listing-img" src="https://images.unsplash.com/photo-1481761289552-381112059e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2322&q=80" alt="">

  <div class="clearfix">
      <button type="button" class="third-btn">Cancel</button>
      <button type="submit" class="third-btn">Edit</button>
      <button type="submit" class="third-btn">Submit</button>
    </div>
    </div>
</div>
