<%# preview individual listing %>

<form action="/listings" method="post">
<div class="giveform">
<div class="subheading">
<h2><b>Preview</b></h2>
</div>
  <div class="container">

    
    <p>Title</p>
    <p class="small-p"><%= @title%></p>
    <p>Category</p>
    <p class="small-p"><%= @category%></p>
    <p>Description</p>
    <p class="small-p"><%= @description %></p>

<img class="listing-img" src="<%= @image %>" alt="">

  <div class="clearfix">
      <button type="button" class="third-btn">Cancel</button>
      <button type="submit" class="third-btn">Edit</button>
      <button type="submit" class="third-btn">Submit</button>
    </div>
    </div>
</div>
</form>
