<div class="home-section">
    <div class="intro">
        <%# I want to %>
    </div>
    <div class="home-thumbnail">
        <img src="https://www.dbs.com/livemore/uploads/recycle/recyclemorewasteless.jpg" alt="">
        <button class="home-option-btn"><b><a href="/give_form">GIVE</a></button>
    </div>
    <div class="home-thumbnail">
        <img src="https://1118926.v1.pressablecdn.com/wp-content/uploads/2016/01/pebworth-in-pile.jpg" alt="">
        
        <button class="home-option-btn"><b>FIND</button>
    </div>
    <div class="home-thumbnail">
        <img src="https://media.istockphoto.com/photos/recycling-centre-sign-clear-blue-sky-picture-id174672861?k=6&m=174672861&s=612x612&w=0&h=67fB9N8gMhHxvb1v0BYB9qib_HxXe6xP1-3VypRn53A=" alt="">
        <button class="home-option-btn"><b>DISPOSE</button>
    </div>

    <form class="home-search-option give" action="/give_form" method="get">
        <%# <label for=""></label> %>
        <%# <input class="home-search" type="text" name="item" placeholder="item">
        <button class="home-search-btn">search</button> %>
    </form>
    
    <form class="home-search-option find" action="/listings" method="get">
        <label for=""></label>
        <input class="home-search" type="text" name="item" placeholder="item">
        <input class="home-search-location" type="text" name="location" placeholder="location">
        <button class="home-search-btn">search</button>
    </form>
        <div class='all-home-icons'>
            <div>
                <div class='home-icons'>
                        <div class="home-search-option icon-name">Automotive</div>
                        <a href="/listings?category=Automotive"> <img class="home-search-option icon-btn" src="/images/car.png" alt=""></a>
                </div>

                <div class='home-icons'>
                        <div class="home-search-option icon-name">Construction</div>
                        <a href="/listings?category=Construction"><img class="home-search-option icon-btn" src="/images/construction.png" alt=""></a>
                </div>

                <div class='home-icons'>
                        <div class="home-search-option icon-name">Electronics</div>
                        <a href="/listings?category=Electronics"><img class="home-search-option icon-btn" src="/images/electronics.png" alt=""></a>
                </div>

                <div class='home-icons'>
                        <div class="home-search-option icon-name">Glass</div>
                        <a href="/listings?category=Glass"><img class="home-search-option icon-btn" src="/images/glass.png" alt=""></a>
                </div>

                <div class='home-icons'>
                        <div class="home-search-option icon-name">Hazardous</div>
                        <a href="/listings?category=Hazardous"><img class="home-search-option icon-btn" src="/images/Hazardous.png" alt=""></a>
                </div>

                <div class='home-icons'>
                    <div class="home-search-option icon-name">Household</div>
                    <a href="/listings?category=Household"><img class="home-search-option icon-btn" src="/images/household.png" alt=""></a>
                </div>

                <div class='home-icons'>
                    <div class="home-search-option icon-name">Metal</div>
                    <a href="/listings?category=Metal"><img class="home-search-option icon-btn" src="/images/metal.png" alt=""></a>
                </div>

                <div class='home-icons'>
                    <div class="home-search-option icon-name">Organic Waste</div>
                    <a href="/listings?category=Organic Waste"><img class="home-search-option icon-btn" src="/images/organic-waste.png" alt=""></a>
                </div>

                <div class='home-icons'>
                    <div class="home-search-option icon-name">Packaging</div>
                    <a href="/listings?category=Packaging"><img class="home-search-option icon-btn" src="/images/packaging.png" alt=""></a>
                </div>

                <div class='home-icons'>
                    <div class="home-search-option icon-name">Paper</div>
                    <a href="/listings?category=Paper"><img class="home-search-option icon-btn" src="/images/paper.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
        <form class="home-search-option dispose" action="/map" method="get">
            <label for=""></label>
            <input class="home-search" type="text" name="item" placeholder="item">
            <input class="home-search-location" type="text" name="location" placeholder="location">
            <button class="home-search-btn">search</button>
        </form>
</div>


<script>
console.log("working")

var homeOptionBtn = document.querySelectorAll('.home-option-btn')


var handleClick = function(event){
    var homeOptionBtn = event.target

    if (homeOptionBtn.textContent === "GIVE") {
        var findSearchOption = document.querySelector('.find')
        findSearchOption.style.display = "none"
        var disposeSearchOption = document.querySelector('.dispose')
        disposeSearchOption.style.display = "none"
        var allIconHome = document.querySelector('.all-home-icons')
        allIconHome.style.display = "none"
        var giveSearchOption = document.querySelector('.give')
        if (giveSearchOption.style.display === "") {
        giveSearchOption.style.display = "block"
        } else if (giveSearchOption.style.display === "block") {
        giveSearchOption.style.display = "none"
        } else if (giveSearchOption.style.display === "none") {
        giveSearchOption.style.display = "block"
        }
  
    }

    if (homeOptionBtn.textContent === "FIND") {
        var giveSearchOption = document.querySelector('.give')
        giveSearchOption.style.display = "none"
        var disposeSearchOption = document.querySelector('.dispose')
        disposeSearchOption.style.display = "none"
        var findSearchOption = document.querySelector('.find')
        var allIconHome = document.querySelector('.all-home-icons')
        if (findSearchOption.style.display === "") {
        findSearchOption.style.display = "block"
        allIconHome.style.display = "block"
        } else if (findSearchOption.style.display === "block") {
        findSearchOption.style.display = "none"
        allIconHome.style.display = "none"
        } else if (findSearchOption.style.display === "none") {
        findSearchOption.style.display = "block"
        allIconHome.style.display = "block"
        }
    
    }

    if (homeOptionBtn.textContent === "DISPOSE") {
        var giveSearchOption = document.querySelector('.give')
        giveSearchOption.style.display = "none"
        var findSearchOption = document.querySelector('.find')
        findSearchOption.style.display = "none"
        var allIconHome = document.querySelector('.all-home-icons')
        allIconHome.style.display = "none"
        var disposeSearchOption = document.querySelector('.dispose')
        if (disposeSearchOption.style.display === "") {
        disposeSearchOption.style.display = "block"
        } else if (disposeSearchOption.style.display === "block") {
        disposeSearchOption.style.display = "none"
        } else if (disposeSearchOption.style.display === "none") {
        disposeSearchOption.style.display = "block"
        }
    }
   
}

homeOptionBtn.forEach(function(optionBtn) {
    optionBtn.addEventListener('click', handleClick)
})
</script>
