
<button class="home-option-btn">GIVE</button>
<button class="home-option-btn">FIND</button>
<button class="home-option-btn">DISPOSE</button>
<form class="home-search-option give" action="/sessions" method="post">
    <label for="">give</label>
    <input type="text" name="email">
    <button class="home-search-btn">search</button>
</form>
<form class="home-search-option find" action="/sessions" method="post">
    <label for="">find</label>
    <input type="text" name="email">
    <button class="home-search-btn">search</button>
</form>
<form class="home-search-option dispose" action="/sessions" method="post">
    <label for="">dispose</label>
    <input type="text" name="email">
    <button class="home-search-btn">search</button>
</form>

<script>
console.log("working")

var homeOptionBtn = document.querySelectorAll('.home-option-btn')


var handleClick = function(evet){
    var homeOptionBtn = event.target

    if (homeOptionBtn.textContent === "GIVE") {
        var findSearchOption = document.querySelector('.find')
        findSearchOption.style.display = "none"

        var disposeSearchOption = document.querySelector('.dispose')
        disposeSearchOption.style.display = "none"

        var giveSearchOption = document.querySelector('.give')
        //  debugger
        if (giveSearchOption.style.display === "") {
        giveSearchOption.style.display = "block"
        } else if (giveSearchOption.style.display === "block") {
        giveSearchOption.style.display = "none"
        } else if (giveSearchOption.style.display === "none") {
        giveSearchOption.style.display = "block"
        }
  
    }

    if (homeOptionBtn.textContent === "FIND") {
        var giveSearchOption = document.querySelector('.give')
        giveSearchOption.style.display = "none"

        var disposeSearchOption = document.querySelector('.dispose')
        disposeSearchOption.style.display = "none"

        var findSearchOption = document.querySelector('.find')
        //  debugger
        if (findSearchOption.style.display === "") {
        findSearchOption.style.display = "block"
        } else if (findSearchOption.style.display === "block") {
        findSearchOption.style.display = "none"
        } else if (findSearchOption.style.display === "none") {
        findSearchOption.style.display = "block"
        }

    }

    if (homeOptionBtn.textContent === "DISPOSE") {
        var disposeSearchOption = document.querySelector('.dispose')

        var giveSearchOption = document.querySelector('.give')
        giveSearchOption.style.display = "none"

        var findSearchOption = document.querySelector('.find')
        findSearchOption.style.display = "none"
        //  debugger
        if (disposeSearchOption.style.display === "") {
        disposeSearchOption.style.display = "block"
        } else if (disposeSearchOption.style.display === "block") {
        disposeSearchOption.style.display = "none"
        } else if (disposeSearchOption.style.display === "none") {
        disposeSearchOption.style.display = "block"
        }
    }
    // var arrow = accordionBtn.querySelector('.fa-chevron-down')
    // var dropDown = accordionBtn.nextElementSibling
    
    // if (accordionBtn.classList.contains("active") === false) {
    //     accordionBtn.classList.add("active")
    // } else {
    //     accordionBtn.classList.remove("active")
    // }
    
    // if (arrow.classList.contains("rotate") === false) {
    //     arrow.classList.add("rotate")
    // } else {
    //     arrow.classList.remove("rotate")
    // }

    console.log("working")
    // if (dropDown.style.display === "") {
    //     dropDown.style.display = "block"
    // } else if (dropDown.style.display === "block") {
    //     dropDown.style.display = "none"
    // } else if (dropDown.style.display === "none") {
    //     dropDown.style.display = "block"
    // }
   
}

homeOptionBtn.forEach(function(optionBtn) {
    optionBtn.addEventListener('click', handleClick)
})
</script>


<style>

.home-option-btn {
    background-color: red;
  }

.home-search-option {
    display: none;
}

</style>