<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recycle Tree</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<header>
<div class="header-img">
<h1>Recycle Connect</h1> 
  <%# <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="white" points="0,100 100,0 100,100"/></svg> %>
   
</div>
<%# <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Login</h2>
    <form action="/sessions" method="post">
    <label for="">email address</label>
    <input type="text" name="email">
    <label for="">password</label>
    <input type="password" name="password_digest">
    <button>Login</button>
    </form>
    <p class="small-p">Don't have an account? Sign up <a id="here" href="/signup"><b>here<b>.</a></p>
  </div>
</div> %>
 <% if logged_in? %>  
  <div>
    <p style="color: white;" id="current-user" class="small-p"><%= current_user.username%></p>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button style="color: white;" id="logoutBtn">Log Out</button>
    </form>
  </div> 
 <%# <% else %> 
  <%# <div class="rop-right"> 
   <button id="loginBtn">Sign Up / Login</button>
  </div> %>
<% end %>  
<%# <img id="logo" src="/images/Blue Outline Recycling Symbol.png" alt=""> %>
<%# <div class="header-image">
<h1>Recycle Connect</h1>   
</div> %>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
</header>
​
    
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/listings">Listings</a>
  <a href="/login">Login</a> 
  <% if logged_in? %> 
  <a href="/my_account" id="myaccount">My Account</a>
   <% end %> 
  </div>
​
 
    
  
​
  
​
<%= yield %>
​
<script src="/javascripts/application.js">
</script>
</body>
</html>