

<div class="listing-container">
    <div class="listing-search">
        <input type="text">
        <button>Search</button>
    </div>
    <div class="listing-id">
    <div class="listing-picture">Picture</div>
    <div>
        <h2>Listing ID#1</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, vel incidunt! Necessitatibus qui maxime ullam ratione cumque exercitationem expedita distinctio hic, corporis laudantium quae ex possimus, at id officiis aspernatur!
        </p>
        <div class=listing-footer>
        <span>Created: 12:34pm 24/04/2019</span>
        <button>View</button>
        </div>
    </div>
    </div>
</div>