

<div class="listing-container">
    <div class="listing-search">
        <input type="text">
        <button>Search</button>
    </div>
    
    <div>hello
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, vel incidunt! Necessitatibus qui maxime ullam ratione cumque exercitationem expedita distinctio hic, corporis laudantium quae ex possimus, at id officiis aspernatur!
        </p>
    </div>
</div>