<div class="giveform">
    <div class="container">

    
    <h2>Login</h2>
    <form action="/sessions" method="post">
    <label for="">email address</label>
    <input type="text" name="email">
    <label for="">password</label>
    <input type="password" name="password_digest">
    <button>Login</button>
    </form>
    <p class="small-p">Don't have an account? Sign up <a id="here" href="/signup"><b>here<b>.</a></p>
 

    </div>
</div>