<form class= "home-search-option dispose" action=""></form>
    <div class="listing-container">
        <div class="listing-search">
            <input class= "home-search" type="text" value = "<%= @item %>">
            <input class= "home-search-location" type="text" value = "<%= @location %>">
            <button class= "home-search-btn">Search</button>
        </div>
        <div class="map-map">
        <img  src="/images/image.png">
        </div>
    </div>
</form>
