<div class="messages-container">
    <div class="messages-aside">
    <%= @msg%>
        <div class="aside-message">Message 1</div>
    </div>
    
    <div class="messages-body">
        <div class="message-display">
            <div class="aside-message">Message 1</div>
            <div class="aside-message">Message 2</div>
            <div class="aside-message">Message 3</div>
            <div class="aside-message">Message 4</div>
        </div>
        <div class="message-response"><input type="text"><button>enter</button></div>
    </div>
<div>