<div class="messages-container">
    <div class="messages-aside">
    <% @msg.each do |m|%>
        <div class="aside-message"><%= m.body %></div>
    <% end %>
    </div>
    
    <div class="messages-body">
        <div class="message-display">
        </div>
        <div class="message-response"><input type="text"><button>enter</button></div>
    </div>
<div>