<div class="giveform">
    <div class="container">
        <form action="/new_user"method ="post">
            <label for="email">e-mail</label>
            <input type="text" name ="user_email">
            <label for="">username</label>
            <input type="text" name="username">
            <label for="">mobile number</label>
            <input type="text" name="mobile">
            <label for="">password</label>
            <input type="text" name="password">
            <button class="signupbtn">Sign Up</button>     
        </form>
        <form class = "cancel-button" action= "/">
            <button class="cancelbtn">Cancel</button>
        </form>
    </div>
</div>
