<<<<<<< Updated upstream
<div class="giveform">
    <div class="container">
        <form action="/signup" method ="post">
            <label for="email">e-mail</label>
            <input type="text" name ="email">
            <label for="">username</label>
            <input type="text" name="username">
            <label for="">mobile number</label>
            <input type="text" name="mobile">
            <label for="">password</label>
            <input type="password" name="password">
            <button class="signupbtn">Sign Up</button>     
        </form>
        <form class = "cancel-button" action= "/">
            <button class="cancelbtn">Cancel</button>
        </form>
    </div>
</div>
=======
<div class = "sign-up">
    <form action="/new_user"method ="post">
        <label for="email">e-mail</label>
        <input type="text" name ="user_email">
        <label for="">username</label>
        <input type="text" name="username">
        <label for="">mobile number</label>
        <input type="text" name="mobile">
        <label for="">password</label>
        <input type="text" name="password">
        <button>submit</button>     
     </form>
     <form class = "cancel-button" action= "/">
        <button>cancel</button>
    </form>
</div>

>>>>>>> Stashed changes
