<div class="giveform">
    <div class="container">
    <h2>Login</h2>
        <form action="/signup" method ="post">
            <label for="email">e-mail</label>
            <input type="text" name ="email">
            <label for="">username</label>
            <input type="text" name="username">
            <label for="">mobile number</label>
            <input type="text" name="mobile">
            <label for="">password</label>
            <input type="password" name="password">
            <div class="clearfix">
      <button onClick="/" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
            
    </div>
</div>
