<div class="giveform">
    <div class="container">
    <P style="text-align: center;">Thanks for choosing to take something & rescuing it from landfill!</P>

    <P>Whats next?</P>
    <p class="small-p">We have sent a message to the listing owner letting them know you want to take their item.  It is now up to them to approve your request.  Once they do, then you will be the official owner of the item.  You will need to work with them to organise pick-up of the item.</p>
    <p class="small-p">We will notify you via email once your request is approved by the current item owner.</p>
    <p class="small-p">You can send a message to them now to get the ball rolling, otherwise just wait to hear from them.</p>
    <P>Message</P>
    <form class="message-form" action="/messages" method="post">
        <textarea name="body"></textarea>
        <input type="hidden" name="listing_id" value="<%= params[:id] %>">
        <button>post comment</button>
    </form>

    <P>Want to save more items from landfill?</P>
    <p class="small-p">Checkout our other listings here:</p>
    <a style="color: blue;" href="/listings">Recycle Tree Listings</a>
    </div>
</div>