
:root {
  /* --primary-color: #ff9900; 
  --secondary-color: #88c6da; */
  --primary-color: #18b657;
  --secondary-color: #5cd360;
  --medium-grey-color: #a7a6a6; 
  
  }
  
  * {
      box-sizing: border-box;
    }
  
    html, body {
      height: 100%;
  }
  
  #logo {
      width: 80px;
  }
    
    body {
      color: var(--primary-color);
      margin: 0 auto;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      background-color: #f1f1f1;
    }
  
    .home-section {
        max-width: 950px;
        margin: 0 auto;
    }
    
    section {
      margin: 0 0 15px 0;
      width: 100%;
      height: 400px;
      
    }

    h1 {
      margin: 0;
    }

    header {
      margin: 0;
    }
  
  .intro {
    padding: 0 0 4px 0;
  }
  
  input[type=text].home-search {
    width: 35%;
    margin: 20px 0 ;
    background-color: white;
  }
  
  input[type=text].home-search-location {
    width: 15%;
    margin: 20px 0 ;
    background-color: white;
  }
  
  .home-section {
    text-align: center;
  
  }
  
  .home-search-option {
      display: none;
      text-align: center;
  }
  
  .home-icons {
    display: inline-flex;
    flex-direction: column;
    padding: 1% 5% 0;
  }
  
  .home-icons:hover {
    background-color: #f1f1f1;
  }
  
  .home-thumbnail:hover {
      /* transform: translateY(10px);  */
      /* box-shadow: 0px 0px 8px lightgrey; */
  }
  
  .icon-name {
    font-size: 1vw;
    display: block;
    text-align: center;
    color: var(--secondary-color);
  }
  
  .icon-btn {
    display: block;
    object-fit: contain;
    width: 8vw;
  }
  
  .all-home-icons {
    display: none;
  }
  
  .take-btn {
    padding: 14px 20px;
    background-color: orange;
    color: white;
    width: 50%;
  }
  
  .under-offer-btn {
    padding: 14px 20px;
    background-color: rgb(191, 188, 188, 1.0);
    color: red;
    width: 50%;
  }

  .under-offer {
    color: red;
  }

  .under-offer-image {
    opacity: 0.4;
    object-fit: cover;
    height: 300px;
    width: 100%;
    margin: 20px 0 20px 0;
  }

  .under-offer-wrapper {
    position: relative;
  }

  .under-offer-img-text {
    position: absolute;
    right: 90px;
    top: 150px;
    font-size: 3rem;
    color: red;
    transform: rotate(-30deg);
  }

  .account-view-button {
    display: inline;
  }

  .approve-button {
    font-size: 10px;
    display: inline;
  }

  .comments-form {
    display: inline-flex;
  }
  
  .comments-form textarea {
    margin-right: 10px;
  }
  
  .comments-form button {
    align-self: center;
    /* border-radius: 5px; */
  }
  
  .comments {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-top: 5px;
  }
​
  .comments-answered {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 30px;
  }
  
  .comments-answered .small-p  {
    margin-left: 10px;
  }
  
  .comments .small-p  {
    margin-left: 10px;
  }
  
  .comment-reply-btn {
    font-size: 12px;
    border-radius: 5px;
    padding: 3px;
    margin-right: auto;
    margin-left: 10px;
    color: grey;
    border: 1px solid grey;
    background-color: #f1f1f1;
    
  }
​
  .answers {
    display: none;
  }
  
  .q-and-a-label {
    font-weight: bold;
    padding-right: 10px;
  }
  
  .message-form textarea {
    display: block;
    min-width: 25vw;
    min-height: 10vh;
    margin-bottom: 10px;
  }
  
  .message-form button {
    margin-bottom: 20px;
  }
  
  .listing-picture img {
    max-width: 200px;
  }

  .listing-picture-under-offer {
    padding: 30px 20px;
  }

  .listing-picture-under-offer img {
    max-width: 200px;
    opacity: 0.4;
  }

  .listing-picture-under-offer-wrapper {
    position: relative;
  }

  .listing-picture-under-offer-text {
    position: absolute;
    right: 40px;
    top: 80px;
    font-size: 1.5rem;
    color: red;
    transform: rotate(-30deg);
  }

    
    .top-right {
      padding: 20px;
    
    }
    
    
    #current-user {
    
      position: absolute;
      top: 21px;
      right: 128px;
    }
    
  
    .signup {
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      /* background-image: url("https://images.unsplash.com/photo-1481761289552-381112059e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2661&q=80"); */
    }
  
    .giveform { 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: #f1f1f1;
      border-top-left-radius: 40% 12%;
      border-top-right-radius: 40% 12%;
      /* background-image: url("https://images.unsplash.com/photo-1481761289552-381112059e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2661&q=80"); */
  }
  .greybackground {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: #f1f1f1;
    /* border-top-left-radius: 50% 20%;
      border-top-right-radius: 50% 20%;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%; */
  }
  
   
    /* modal background */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(128, 128, 128, 0.434);
    }
    
    /* Modal Content */
    .modal-content {
      background-color: white;
      color: var(--primary-color);
      margin: 15% auto; 
      padding: 20px;
      border-style: none;
      width: 80%; 
      max-width: 500px;
      border-radius: 16px;
      box-shadow: 1px 1px 1px lightgrey;
    }
    
    .close {
      color: var(--primary-color);
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: var(--primary-color);
      text-decoration: none;
      cursor: pointer;
    }
    
    .thumbnail {
      display: inline-block;
      padding: 10px 0;
      width: 28%;
      height: 200px;
​
    }
  
    .home-thumbnail {
      display: inline-block;
      padding: 10px 0;
      width: 90%;
      height: 200px;
      position: relative;
      
  
    }
    
    .home-thumbnail img {
      object-fit: cover;
      width: 100%;
      height: 200px;
      opacity: 0.7;
      border-radius: 15px;
      box-shadow: 1px 1px 1px lightgrey;
    }
  
    .home-thumbnail button {
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 6px 20px;
        background-color: white;
        font-size: 1.2em;
        font-weight: 500;
        color: var(--primary-color);
        /* border-style: solid 1px var(--primary-color); */
        border-style: ridge 4px grey;
        border-radius: 3px;
        box-shadow: 1px 1px 1px var(--primary-color);
   
    }
    .home-thumbnail button:hover {
     /* transform: translateY(5px);  */
     padding: 8px 22px;
    }
    
    .column {
      float: left;
    }
    
    .left {
      width: 50%;
    }
    
    .right {
      width: 50%;
    }
    
    button {
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      background-color: var(--secondary-color);
      color: white; 
      /* border-style: none; */
      padding: 6px;
      /* border-radius: 3px; */
    } 
  
    .listing-text {
        display: flex;
        justify-content: space-between;
    }
  
      /* #loginBtn {
      padding: 10px;
      top: 23px;
      border: none;
      background: none;
      font-size: 0.9em;
      position: absolute !important;
      right: 50px;
      color: var(--primary-color);
    }   */
  
    /* #loginBtn {
      padding: 10px;
      top: 23px;
      border: none;
      background: none;
      font-size: 0.9em;
      position: absolute !important;
      left: 50%;
      transform: translate(-50%, -50%);
    } */
    
    
    #logoutBtn {
      padding: 10px;
      top: 25px;
      border: none;
      background: none;
      font-size: 0.9em;
      position: absolute;
      right: 50px;
      color: var(--medium-grey-color);
    
    }
  
  
    
    
    h2 {
        color: var(--primary-color);
    
    }
    header {
     
        /* font-family: 'Montserrat', sans-serif; */
        font-family: 'Raleway', sans-serif;
        /* background-color: #f1f1f1; */
     
        /* display: inline; */
        
        
    }
   
      .header-img {
        position: relative;
        background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fi.imgur.com%2FSgOJUdu.jpg%3F1");
          /* margin: 0 auto; */
          height: 260px;
          border-bottom-left-radius: 50% 20%;
          border-bottom-right-radius: 50% 20%;
          background-image: no-repeat;
          background-position: top;
          background-position: fixed;
          background-size: cover;
          opacity: 0.6;
          filter: alpha(opacity=50);
      }
      /* #svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10vw; */
        /* set height to pixels if you want angle to change with screen width */
      /* } */
    
    
    
    h1 { 
      /* color: var(--primary-color); */
      color: white;
      font-size: 3.5em;
      text-align: center !important;
      letter-spacing: 1px;
      padding-top: 20px;
    } 
    
    a {
      color: var(--primary-color);
      text-decoration: none;
    }
    
    /* nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    
    } */
  
    
    #topnav a:hover {
      /* background-color: rgba(255, 255, 255, 0.3); */
      background-color: var(--primary-color);
      color: white !important;
    }
    
    #topnav a:link {
      color: white;
      transition: 0.5s;
    }
    #topnav a:visited {
      text-decoration: none;
      background-color: var(--primary-color);
      color: white !important;
      transition: 0.5s;
    }
    
    #topnav a:active {
      background-color: var(--primary-color);
      color: white !important;
    }
    
    #topnav {
      background-color: #5cd360ad;
    }
    
    #topnav a {
      color: white !important;
      text-decoration: none;
      text-align: center;
      padding: 10px;
      display: block;
      border-bottom: solid 1px #fff;
    
    }
    .top-links a {
      background-color: transparent !important;
      color: var(--primary-color) !important;
        
    }
    
    .top-links {
      background-color: transparent !important;
      color: var(--primary-color) !important;
      display: flex;
      justify-content: flex-start;
      
    }
    
    p {
      color: var(--primary-color);
    }
    
    .small-p {
      color: var(--medium-grey-color);
      font-size: 0.9em;
    }
  
    .tiny-p {
      color: var(--medium-grey-color);
      font-size: 0.7em;
    }
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background:#f1f1f1;
     
    }
  
    
    input[type=text]:focus, input[type=password]:focus {
      background-color:#ddd;
      outline: none;
    
    }
    
  
      .custom-select {
  
          background: #f1f1f1; 
          width:200px;
          position: relative;
  
        }
        
        .custom-select select {
          display: none; /*hide original SELECT element: */
        }
        
        .select-selected {
          background-color: #f1f1f1;
        }
        
        /* Style the arrow inside the select element: */
        .select-selected:after {
          position: absolute;
          content: "";
          top: 14px;
          right: 10px;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-color: #fff transparent transparent transparent;
        }
        
        /* Point the arrow upwards when the select box is open (active): */
        .select-selected.select-arrow-active:after {
          border-color: transparent transparent #fff transparent;
          top: 7px;
        }
        
        /* style the items (options), including the selected item: */
        .select-items div,.select-selected {
          color: var(--medium-grey-color);
          padding: 8px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;
        }
        
        /* Style items (options): */
        .select-items {
          position: absolute;
          background-color:#f1f1f1;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99;
        }
        
        /* Hide the items when the select box is closed: */
        .select-hide {
          display: none;
        }
        
        .select-items div:hover, .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }
  
        .under_offer {
            
        }
  
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
  
    .listings-image {
        width: 100px;
    }
    
    button:hover {
      color: var(--primary-color);
      box-shadow: 1px 1px 3px 0px var(--secondary-color);
  
    }
    
    .cancelbtn {
      padding: 14px 20px;
      background-color: var(--primary-color);
      color: white;
    }
    .signupbtn {
      padding: 14px 20px;
      background-color: var(--secondary-color);
      /* border: solid 1px #f07e51; */
      color: var(--primary-color);
    }
    #here {
      color: var(--medium-grey-color);
    }
    
    .cancelbtn, .signupbtn {
      float: left;
      width: 50%;
    }

    .third-btn {
      float: left;
      width: 28%;
      padding: 10px;
      margin: 10px;
      /* display: flex;
      flex-direction: row;
      justify-content: space-between; */
    }
  
    .subheading {
        text-align: center;
        background-color: var(--secondary-color);
        max-width: 500px;
        padding: 1px 0 1px 0;
        margin: 20px auto;
    }
  
    .subheading h2 {
      color: white;
      
  }
    .container {
      padding: 16px;
      text-align: left;
      box-shadow: 1px 1px 1px lightgrey;
      border-radius: 15px;
      /* margin: 0 auto; */
      background-color: white;
      color: var(--primary-color);
      margin: 30px auto;
      padding: 20px;
      border-style: none;
      width: 80%; 
      max-width: 500px;
    
    }
    
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
  
    .img-text-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .listing-img {
      object-fit: cover;
      height: 300px;
      width: 100%;
      margin: 20px 0 20px 0;
    }
    .view-button {
      display: flex;
      justify-content: flex-end;
    }
  
    @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
        width: 100%;
      }
    }
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 12px;}
    }
    
    
    @media (min-width: 600px) {
      .thumbnail {
        display: inline-block;
        width: 48%;
        padding: 40px 20px 0 20px;
      }
  
    
/*   
      header h1 {
          margin: 50px 0 20px 0;
      
        } */
  
      .home-section {
        padding-top: 30px;
        }
  
      .home-thumbnail {
          display: inline-block;
          padding: 10px 0;
          width: 32%;
          height: 200px;
          position: relative;
      
        }
  
    
      #topnav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    
        
      #topnav li {
        flex: 0 1 auto;
      }
    
      #topnav a {
        border: none;
        padding: 11px;
    
      }
    
      #topnav li:first-child {
          margin-right: auto;
          
      }
    
    }
    
    @media (min-width: 800px) {
      .thumbnail {
        display: inline-block;
        width: 32%;
        padding: 40px 20px 0 20px;
      }
  
  
    }
  
  .listing-container {
    display: flex;
    padding: 16px;
    text-align: left;
    background-color: white;
    color: var(--primary-color);
    margin: 30px auto;
    padding: 10px;
    /* border: 1px solid grey; */
    width: 80%; 
    max-width: 500px;
    border-radius: 16px;
    /* box-shadow: #a7a6a6 */
    box-shadow: 1px 1px 1px lightgrey;
    
  
  }
  .account-listing-container {
    display: flex;
    padding: 16px;
    text-align: left;
    background-color: white;
    color: var(--primary-color);
    margin: 30px auto;
    padding: 10px;
    /* border: 1px solid grey; */
    width: 80%; 
    max-width: 950px;
    border-radius: 16px;
    /* box-shadow: #a7a6a6 */
    box-shadow: 1px 1px 1px lightgrey;
  }
  
  .listing-id {
    border: 2px solid rgb(198, 198, 198);
    border-radius: 16px; 
    margin: 10px;
    padding: 10px;
    margin-top: 25px;
    display: flex;
  }
  
  .listing-search {
    display: flex;
    font-size: 20px;
    height: 30px;
  
  }
  
  .listing-search button {
    height: 100%;
    margin: 0;
    margin-top: 4px;
  }
  
  .listing-search input {
    height: 100%;
    width: 90%;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .listing-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .listing-picture {
    padding: 30px 20px;
  }
  
  .account-listing-table {
    width: 80%;
  }
  
  .account-listing-table th  {
    padding-right: 100px;
  }
  
  .account-listing-table button  {
    margin-right: 10px;
  }
  
  .map-map {
    margin-top: 20px;
    width: 800px;
    height: 600px;
    background-color: red;
  }
  .messages-container {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .messages-aside {
    height: 50px;
    width: 25%;
    margin: 0;
  }
  
  .aside-message {
    width: 100%;
  }
  
  .messages-body {
    width: 75%;
    margin: 0;
    padding: 0;
    border-left: 1px solid grey;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    /* opacity: 50%; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }